.col-md-2.col-6.playbill.container { 
  display: flex; flex-direction: column; align-items: center; 
  justify-content: space-evenly;
  p { text-align: justify; margin: 0 1vw; }
  .stars { display: flex; flex-direction: row; img {height: initial;}}
  .btn { width: 80%; }
}

