[data-react-class="movies/Category"] { height: 100%; }

// Category
.row { 
  height: 100%;
  &, .playbill, .movie { padding: 0 0; margin: 0 0; }
  display: flex; align-content: flex-start; background-color: black;
  .movie { height: 50%; }
  .movie, .options { width: 100% }
  // .options { width: 100%; height: 10%; }
}

.background-cover { 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: top; 
}

.flex-row-end { display: flex; align-items: flex-end; }
