@import 'movies/_feedback';

[data-react-class="movies/Category"] { height: 100%; }

.row, .playbill, .movie { padding: 0 0; margin: 0 0; }

// Category
.row { 
  &, .options, .options .actions, .meta { display: flex }
  .options, .actions, .meta { align-items: center; }
  &, .playbill, .options { width: 100% }
  height: 100vh;
  align-content: flex-start;
  .playbill { height: 50%; }
  .movie { height: 90%; }
  img { height: 18px; }
  .options { 
    justify-content: space-between; height: 10%; 
    background-color: #1d1d1d; border: 1px solid #4f5151;
    .actions { justify-content: space-around; width: 45%; height: 75%; }
    .meta { width: 15%; justify-content: center; }
   }
}

.background-cover { 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: top; 
}

//.container { padding: 1rem; } 
